@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--foreground--primary);
}

p,
h3 {
    font-weight: 600;
}

.container-xl {
    max-width: 1620px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.container-xxl {
    max-width: 1720px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

input,
textarea {
    border: 1.5px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    &:focus {
        border: 1.5px solid var(--secondary);
    }
}

textarea:focus {
    &:focus {
        border: 1.5px solid var(--secondary);
    }
}

.disabled {
    cursor: no-drop;
}

body {
    background-color: var(--background);
}
