.search {
    &__content {
        &__place {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--background);
            padding: 10px 10px;
            border-radius: 5px;
            & input {
                max-width: 90%;
            }
            &__icon {
                border-radius: 5px;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                & img {
                    filter: brightness(0) invert(100%);
                    width: 32px;
                }
            }
        }
        &__body {
            min-height: 30px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
.apply {
    background-color: var(--primary);
}

.close {
    background-color: rgb(156, 156, 156);
}
@media screen and (max-width: 550px) {
    .search__content__place input {
        width: 80%;
    }
}
